body {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.content {
    padding: 10px 30px;
    text-align: center;
}
iframe {
    border: none;
    margin: 10px;
}
p {
    font-size: 18px;
}
div.btns {
    display: flex;
    flex-direction: column;
    margin: auto;
}
div.btns button {
    width: 200px;
}
button {
    font-size: 18px;
    margin: 10px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    border-radius: 50px;
    padding: 10px;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.5s ease 0s;
}
button:hover {
    box-shadow: 2.5px 5px 10px 2.5px #a3a3a3;
    transition: box-shadow 0.5s ease 0s;
}
img.banner {
    width: 100vw;
}
img.logo {
    height: 75px;
}
a {
    text-decoration: none;
}
