body {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.content {
    padding: 10px 30px;
    text-align: center;
}
iframe {
    border: none;
    margin: 10px;
}
p {
    font-size: 18px;
}