.math {
    background-color: #66bdff;
    padding: 10px;
    margin: 10px
}
.science {
    background-color: #75ff66;
    padding: 10px;
    margin: 10px
}
.social-studies {
    background-color: #a866ff;
    padding: 10px;
    margin: 10px;
}
.english {
    background-color: #ff6666;
    padding: 10px;
    margin: 10px;
}