.sixth {
    background-color: #a8d9ff;
    padding: 10px;
    margin: 10px;
}
.seventh {
    background-color: #66bdff;
    padding: 10px;
    margin: 10px;
}
.eighth {
    background-color: #1998f8;
    padding: 10px;
    margin: 10px;
}