.sixth {
    background-color: #B7FFAF;
    padding: 10px;
    margin: 10px;
}
.seventh {
    background-color: #80F872;
    padding: 10px;
    margin: 10px;
}
.eighth {
    background-color: #1AFF00;
    padding: 10px;
    margin: 10px;
}